
################################################################################

A utility server named services.example.com has been provided for you.

This server provides an offline RHEL 8.0 repository as internet access
has been disabled.

This server also provides NTP time services and DNS services to the
example.com domain. These are preconfigured.

Passwordless access on the student account has been configured to the student
account on all other servers.

Use sudo to gain root access on all systems.

Study Servers:

{% for server in server_list %}
* {{ server }}
{% endfor %}

Please see the README.md that was included with this study environment for
additional usage information.

################################################################################

